  <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
                                                <input type="text" placeholder="Search..." class="form-control">
                                                <a href=""><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="index.html">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Đơn hàng đã giao</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="product-status mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Đơn hàng đã giao</h4>
                            <table>
                                <tr>
                                    <th>Image</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tình trạng</th>
                                    <th>Tài khoản</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Ngày giao</th>
                                    
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/Asus.jpg" alt="" /></td>
                                    <td>Asus</td>
                                    <td>#123456789</td>
                                    <td>
                                        <button class="pd-setting">Đã giao</button>
                                    </td>
                                    <td>123asd321</td>
                                    <td>0968204365</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>1</td>
                                    <td>25.000.000</td>
                                    <td>1/1/2019</td>
                                </tr>
                               <tr>
                                    <td><img src="img/new-product/Acer.jpg" alt="" /></td>
                                    <td>Acer</td>
                                    <td>#987654321</td>
                                    <td>
                                        <button class="pd-setting">Đã giao</button>
                                    </td>
                                    <td>123asd321</td>
                                    <td>0968204365</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>1</td>
                                    <td>25.000.000</td>
                                    <td>1/1/2019</td>
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/Dell.jpg" alt="" /></td>
                                    <td>Dell</td>
                                    <td>#654987321</td>
                                    <td>
                                        <button class="pd-setting">Đã giao</button>
                                    </td>
                                    <td>123asd321</td>
                                    <td>0968204365</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>1</td>
                                    <td>25.000.000</td>
                                    <td>1/1/2019</td>
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/Nokia.jpg" alt="" /></td>
                                    <td>Nokia</td>
                                    <td>#147852369</td>
                                    <td>
                                        <button class="pd-setting">Đã giao</button>
                                    </td>
                                    <td>123asd321</td>
                                    <td>0968204365</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>1</td>
                                    <td>25.000.000</td>
                                    <td>1/1/2019</td>
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/Iphone.jpg" alt="" /></td>
                                    <td>Iphone</td>
                                    <td>#258963147</td>
                                    <td>
                                        <button class="pd-setting">Đã giao</button>
                                    </td>
                                    <td>123asd321</td>
                                    <td>0968204365</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>1</td>
                                    <td>25.000.000</td>
                                    <td>1/1/2019</td>
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/MSI.jpg" alt="" /></td>
                                    <td>MSI</td>
                                    <td>#456932587</td>
                                    <td>
                                        <button class="pd-setting">Đã giao</button>
                                    </td>
                                    <td>123asd321</td>
                                    <td>0968204365</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>1</td>
                                    <td>25.000.000</td>
                                    <td>1/1/2019</td>
                                </tr>
                            </table>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>