 <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
                                                <input type="text" placeholder="Search..." class="form-control">
                                                <a href=""><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Product Edit</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single pro tab start-->
        <div class="single-product-tab-area mg-tb-15">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                                <ul id="myTab3" class="tab-review-design">
                                    <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i> Product Edit</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><b>Tài Khoản&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                        <input type="text" class="form-control" placeholder="Tài khoản" value="123asd321">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><b>Họ&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></span>
                                                        <input type="text" class="form-control" placeholder="Họ" value="Nguyen">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><b>Tên&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                        <input type="text" class="form-control" placeholder="Tên" value="Van A">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><b>Số điện thoại&emsp;&emsp;</b></span>
                                                        <input type="text" class="form-control" placeholder="Số điện thoại" value="0968204365">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><b>Email&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                        <input type="text" class="form-control" placeholder="Email" value="123asd321@gmail.com">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><b>Địa chỉ&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</b>></span>
                                                        <input type="text" class="form-control" placeholder="Địa chỉ" value="135B Trần Hưng Đạo, Quận 1, TPHCM">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><b>Tổng tiền đã mua</b></span>
                                                        <input type="text" class="form-control" placeholder="Tổng tiền đã mua" value="26.000.000">
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                    <a href="ListNguoiDung.html"><button type="button" class="btn btn-primary waves-effect waves-light m-r-10">Lưu
														</button></a> 
                                                    <a href="ListNguoiDung.html"><button type="button" class="btn btn-warning waves-effect waves-light">Đóng
														</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>