<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index">Home</a> <span class="divider">/</span></li>
		<li class="active"> Lịch sử</li>
    </ul>
	<h3>  Lịch sử mua hàng<a href="/users/infor" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Quay lại </a></h3>	
	<hr class="soft"/>
	<table class="table table-bordered">
        <thead>
          <tr>
            <th>Mã đơn hàng</th>
            <th>Mô tả</th>
            <th>Số lượng</th>
            <th>Tình trạng</th>
            <th>Đơn vị</th>
          </tr>
        </thead>
        <tbody>
          {{#each cartStatus}}
          <tr>
            <td>#{{this.idOrder}}</td>
            <td>{{this.name}}</td>
            <td>{{this.qty}}</td>
            <td>{{this.state}}</td>
            <td>Giao hàng tiết kiệm</td>
          </tr>
          {{/each}}
        </tbody>
    </table>
</div>
</div></div>
