<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active"> Lịch sử</li>
    </ul>
	<h3>  Lịch sử mua hàng: Chờ Vận chuyển<a href="index.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Quay lại </a></h3>	
	<hr class="soft"/>
    <table class="table table-bordered">
         <thead>
                <tr>
                  <th><a href="History.html">Đã giao</a></th>
                  <th><a href="ThanhToan.html">Chờ thanh toán</a></th>
                  <th><a href="#">Chờ Vận chuyển</a></th>
                  <th><a href="GiaoHang.html">Chờ giao hàng</a></th>
				</tr>
              </thead>
    </table>

			
	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sản phẩm</th>
                  <th>Mô tả</th>
                  <th>Mã đơn hàng</th>
                  <th>Số lượng</th>
				  <th>Tình trạng</th>
                  <th>Đơn vị</th>
				</tr>
              </thead>
              <tbody>
                <tr>
                  <td> <img width="60" src="themes/images/Mobile/Oppo.jpg" alt=""/></td>
                  <td>OPPO Reno</td>
				  <td>#45451215454</td>
                  <td>1</td>
                  <td>Đang vận chuyển</td>
                  <td>Giao hàng tiết kiệm</td>
                </tr>
				<tr>
                  <td> <img width="60" src="themes/images/Mobile/Oppo.jpg" alt=""/></td>
                  <td>OPPO Reno</td>
				  <td>#45451215454</td>
                  <td>1</td>
                  <td>Đang vận chuyển</td>
                  <td>Giao hàng tiết kiệm</td>
                </tr>
				<tr>
                  <td> <img width="60" src="themes/images/Mobile/Oppo.jpg" alt=""/></td>
                  <td>OPPO Reno</td>
				  <td>#45451215454</td>
                  <td>1</td>
                  <td>Đang vận chuyển</td>
                  <td>Giao hàng tiết kiệm</td>
                </tr>
				
				</tbody>
            </table>
		
		

			
			
	<a href="index.html" class="btn btn-large"><i class="icon-arrow-left"></i> Quay lại </a>

	
</div>
</div></div>
</div>