<div class="product-status mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Gian hàng</h4>
                            <div class="add-product">
                                <a href="ThemGianHang.html">Thêm gian hàng</a>
                            </div>
                            <table>
                                <tr>
                                    <th>Tên gian hàng</th>
                                    <th>Danh sách sản phẩm</th>
                                    <th>Chỉnh sửa</th>
                                    <th>Trang thái</th>
                                </tr>
                                <tr>
                                    <td>Điện thoại</td>
                                    <td>SamSung</br>Oppo</br>Iphone</td>
                                     <td>
                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td>
                                        <button class="pd-setting">Hoạt động</button>
                                    </td>

                                </tr>

                                <tr>
                                    <td>LapTop</td>
                                    <td>Dell</br>MSI</br>Lenovo</br>Asus</br>Acer</td>
                                                                        <td>
                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td>
                                        <button class="pd-setting">Hoạt động</button>
                                    </td>

                                </tr>
                                
                            </table>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>