<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Quên mật khẩu</li>
    </ul>
	<h3> QUÊN MẬT KHẨU?</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well">
			<h5>Đặt lại mật khẩu </h5><br/>
			Vui lòng nhập địa chỉ email cho tài khoản của bạn. Một mã xác minh sẽ được gửi đến bạn. Khi bạn đã nhận được mã xác minh, bạn sẽ có thể chọn mật khẩu mới cho tài khoản của mình.<br/><br/><br/>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">Địa chỉ Email</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail1" placeholder="Email">
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block">Gửi</button>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div>
</div>
</div>