
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Đăng kí</li>
    </ul>
	<h3> Đăng kí</h3>	
	<div class="well">

	<form class="form-horizontal" >
		<h4>THÔNG TIN CÁ NHÂN</h4>
		<div class="control-group">
			<label class="control-label" for="inputFname1">Tên <sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="Name" placeholder="Tên">
			</div>
		 </div>>
		<div class="control-group">
		<label class="control-label" for="input_email">Email <sup>*</sup></label>
		<div class="controls">
		  <input type="text" name="Email" placeholder="Email">
		</div>
	  </div>	  
	<div class="control-group">
		<label class="control-label" for="inputPassword1">Mật khẩu <sup>*</sup></label>
		<div class="controls">
		  <input type="password" name="Password1" placeholder="Mật khẩu">
		</div>
	</div>	  
	<div class="control-group">
		<label class="control-label" for="inputPassword1">Nhập lại mật khẩu <sup>*</sup></label>
		<div class="controls">
		  <input type="password" name="Password2" placeholder="Nhập lại mật khẩu">
		</div>
	</div>	  

		<h4>ĐỊA CHỈ</h4>
		<div class="control-group">
			<label class="control-label" for="address">Địa chỉ<sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="Address" placeholder="Địa chỉ"/> <span>Tên đường, quận (huyện)</span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label " for="phone">Điện thoại<sup>*</sup></label>
			<div class="controls">
			  <input type="text"  name="Phone" id="phone" placeholder="Điện thoại"/>
			</div>
		</div>
		
		
	<p><sup>*</sup>Bắt buộc	</p>
	
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Đăng kí" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>