
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Đăng kí</li>
    </ul>
	<h3> Đăng kí</h3>	
	<div class="well">
	<!--
	<div class="alert alert-info fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	<div class="alert fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	 <div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div> -->
	<form class="form-horizontal" >
		<h4>THÔNG TIN CÁ NHÂN</h4>
		<div class="control-group">
			<label class="control-label" for="inputFname1">Tên <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputFname1" placeholder="Tên">
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="inputLnam">Họ <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputLnam" placeholder="Họ">
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="input_email">Email <sup>*</sup></label>
		<div class="controls">
		  <input type="text" id="input_email" placeholder="Email">
		</div>
	  </div>	  
	<div class="control-group">
		<label class="control-label" for="inputPassword1">Mật khẩu <sup>*</sup></label>
		<div class="controls">
		  <input type="password" id="inputPassword1" placeholder="Mật khẩu">
		</div>
	  </div>	  
		<div class="control-group">
		<label class="control-label">Ngày sinh <sup>*</sup></label>
		<div class="controls">
		  <select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
		</div>
	  </div>



		<h4>ĐỊA CHỈ</h4>
		<div class="control-group">
			<label class="control-label" for="inputFname">Tên <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputFname" placeholder="Tên">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLname">Họ <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputLname" placeholder="Họ"/>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="company">Công ty</label>
			<div class="controls">
			  <input type="text" id="company" placeholder="Công ty"/>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="address">Địa chỉ<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="address" placeholder="Adress"/> <span>Tên đường, quận (huyện)</span>
			</div>
		</div>
		

		<div class="control-group">
			<label class="control-label" for="city">Thành phố<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="city" placeholder="Thành phố"/> 
			</div>
		</div>
	

		
		<div class="control-group">
			<label class="control-label" for="country">Đất nước<sup>*</sup></label>
			<div class="controls">
			<select id="country" >
				<option value="">-</option>
				<option value="1">Đất nước</option>
			</select>
			</div>
		</div>	
		<div class="control-group">
			<label class="control-label" for="aditionalInfo">Khác</label>
			<div class="controls">
			  <textarea name="aditionalInfo" id="aditionalInfo" cols="26" rows="3">Thông tin khác</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label " for="phone">Điện thoại<sup>*</sup></label>
			<div class="controls">
			  <input type="text"  name="phone" id="phone" placeholder="Điện thoại"/> <span>Bạn bắt buộc phải đăng kí số điện thoại</span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="mobile">Điện thoại nhà </label>
			<div class="controls">
			  <input type="text"  name="mobile" id="mobile" placeholder="Điện thoại nhà"/> 
			</div>
		</div>
		
	<p><sup>*</sup>Bắt buộc	</p>
	
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Đăng kí" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>