        <div class="product-status mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Danh sách Điện thoại
                            <div class="add-product">
                                <a href="ThemSanPham.html">Thêm Điện thoại</a>
                            </div>
                            </h4>
                            <table>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Email nhà cung cấp</th>
                                    <th>Địa chỉ nhà cung cấp</th>
                                    <th>Giá</th>
                                    <th>Tình trạng</th>
                                    <th>Chỉnh sửa</th>
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/Nokia.jpg" alt="" /></td>
                                    <td>Nokia</td>
                                    <td>Nokia Store</td>
                                    <td>123asd321@gmail.com</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>5.000.000</td>
                                    <td>
                                        <button class="pd-setting">Hoạt động</button>
                                    </td>
                                    <td>
                                        <a href="EditUser.html"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/SamSung01.png" alt="" /></td>
                                    <td>SumSung</td>
                                    <td>SamSung Store</td>
                                    <td>123asd321@gmail.com</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>18.000.000</td>
                                    <td>
                                        <button class="pd-setting">Hoạt động</button>
                                    </td>
                                    <td>
                                        <a href="EditUser.html"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="img/new-product/Iphone.jpg" alt="" /></td>
                                    <td>Iphone</td>
                                    <td>Iphone Store</td>
                                    <td>123asd321@gmail.com</td>
                                    <td>135B Trần Hưng Đạo, Quận 1, TPHCM</td>
                                    <td>23.000.000</td>
                                    <td>
                                        <button class="pd-setting">Hoạt động</button>
                                    </td>
                                    <td>
                                        <a href="EditUser.html"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                               
                            </table>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>