<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active"> Giỏ hàng</li>
    </ul>
	<h3>  GIỎ HÀNG [ <small>3 Item(s) </small>]<a href="index.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Quay lại </a></h3>	
	<hr class="soft"/>
	<table class="table table-bordered">
		<tr><th> Bạn đã đăng kí chưa?  </th></tr>
		 <tr> 
		 <td>
			<form class="form-horizontal">
				<div class="control-group">
				  <label class="control-label" for="inputUsername">Tên đăng nhập</label>
				  <div class="controls">
					<input type="text" id="inputUsername" placeholder="Tên đăng nhập">
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label" for="inputPassword1">Mật khẩu</label>
				  <div class="controls">
					<input type="password" id="inputPassword1" placeholder="Mật khẩu">
				  </div>
				</div>
				<div class="control-group">
				  <div class="controls">
					<button type="submit" class="btn">Đăng nhập</button> OR <a href="register.html" class="btn">Đăng kí</a>
				  </div>
				</div>
				<div class="control-group">
					<div class="controls">
					  <a href="forgetpass.html" style="text-decoration:underline">Quên mật khẩu</a>
					</div>
				</div>
			</form>
		  </td>
		  </tr>
	</table>		
			
	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sản phẩm</th>
                  <th>Mô tả</th>
                  <th>Số lượng</th>
				  <th>Giá</th>
                  <th>Giảm giá</th>
                  <th>Vận chuyển</th>
                  <th>Tổng</th>
				</tr>
              </thead>
              <tbody>
                <tr>
                  <td> <img width="60" src="themes/images/Laptop/Asus.jpg" alt=""/></td>
                  <td>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T)</td>
				  <td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				  </td>
                  <td>38.990.000</td>
                  <td>1.000.000</td>
                  <td>--</td>
                  <td>37.990.000</td>
                </tr>
				<tr>
                  <td> <img width="60" src="themes/images/Laptop/Dell.jpg" alt=""/></td>
                  <td>Dell XPS 13 9370 i7 8550U/8GB/256GB/Office365/Win10 (415PX3)</td>
				  <td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"  size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				  </td>
                  <td>44.990.000</td>
                  <td>--</td>
                  <td>--</td>
                  <td>44.990.000</td>
                </tr>
				<tr>
                  <td> <img width="60" src="themes/images/Mobile/Iphone.jpg" alt=""/></td>
                  <td>Iphone 11 Pro Max</td>
				  <td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"  size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				  </td>
                  <td>43.990.000</td>
                  <td>2.000.000</td>
                  <td>--</td>
                  <td>41.990.000</td>
                </tr>
				
                <tr>
                  <td colspan="6" style="text-align:right">Tổng giá:	</td>
                  <td> 127.970.000đ</td>
                </tr>
				 <tr>
                  <td colspan="6" style="text-align:right">Tổng giảm giá:	</td>
                  <td> 3.000.000đ</td>
                </tr>
                 <tr>
                  <td colspan="6" style="text-align:right">Tổng vận chuyển:	</td>
                  <td> 0</td>
                </tr>
				 <tr>
                  <td colspan="6" style="text-align:right"><strong>TOTAL (127.970.000-3.000.000+0) =</strong></td>
                  <td class="label label-important" style="display:block"> <strong> 124.970.000  </strong></td>
                </tr>
				</tbody>
            </table>
		
		
            <table class="table table-bordered">
			<tbody>
				 <tr>
                  <td> 
				<form class="form-horizontal">
				<div class="control-group">
				<label class="control-label"><strong> Mã giảm giá: </strong> </label>
				<div class="controls">
				<input type="text" class="input-medium" placeholder="CODE">
				<button type="submit" class="btn"> Thêm </button>
				</div>
				</div>
				</form>
				</td>
                </tr>
				
			</tbody>
			</table>
			
			<table class="table table-bordered">
			 <tr><th>Thông tin giao hàng </th></tr>
			 <tr> 
			 <td>
				<form class="form-horizontal">
				  <div class="control-group">
					<label class="control-label" for="inputCountry">Địa chỉ </label>
					<div class="controls">
					  <input type="text" id="inputCountry" placeholder="Địa chỉ">
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="inputPost">Số điện thoại </label>
					<div class="controls">
					  <input type="text" id="inputPost" placeholder="Số điện thoại">
					</div>
				  </div>
				 
				   <div class="control-group">
					<label class="control-label" for="inputPost">Thông tin khác </label>
					<div class="controls">
					  <input type="text" id="inputPost" placeholder="Thông tin khác">
					</div>
				  </div>
				   <div class="control-group">
					<label class="control-label" for="inputPost">Tổng tiền thanh toán </label>
					<div class="controls">
					  <label id="inputPost"><b>124.970.000đ</b></label>
					</div>
				  </div>
				</form>				  
			  </td>
			  </tr>
            </table>		
	<a href="index.html" class="btn btn-large"><i class="icon-arrow-left"></i> Quay lại </a>
	<a href="index.html" class="btn btn-large pull-right">Thanh toán <i class="icon-arrow-right"></i></a>
	
</div>
</div></div>
</div>