<div class="span9">
	<div class="well">
		{{#if error_msg }}
		<div class="alert alert-error alert-dismissible show" role="alert">
			<strong>{{this.error_msg}}</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{{/if}}
		<form class="form-horizontal" method="POST">
			<strong>Hãy điền mật khẩu mới cho tài khoản của mình</strong>
			<div class="control-group">
				<label class="control-label" for="input_email">Mật khẩu mới <sup>*</sup></label>
				<div class="controls">
					<input type="password" id="input_email" name="newpassword1" placeholder="Mật khẩu mới">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword1">Nhập lại mật khẩu <sup>*</sup></label>
				<div class="controls">
					<input type="password" id="inputPassword1" name="newpassword2" placeholder="Mật khẩu mới">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-large btn-success" type="submit" value="Thay đổi" />
				</div>
			</div>
		</form>
	</div>
</div>
</div>
