<div class="span9">
    <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li><a href="products.html">Products</a> <span class="divider">/</span></li>
    <li class="active">product Details</li>
    </ul>	
	<div class="row">	  
			<div id="gallery" class="span3">
            <a href="themes/images/Laptop/Asus.jpg" title="Fujifilm FinePix S2950 Digital Camera">
				<img src="themes/images/Laptop/Asus.jpg" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera"/>
            </a>
			<div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                   <a href="themes/images/Laptop/Asus.jpg"> <img style="width:29%" src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                   <a href="themes/images/Laptop/Asus.jpg"> <img style="width:29%" src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                   <a href="themes/images/Laptop/Asus.jpg" > <img style="width:29%" src="themes/images/Laptop/Asus.jpg  " alt=""/></a>
                  </div>
                  <div class="item">
                   <a href="themes/images/Laptop/Asus.jpg" > <img style="width:29%" src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                   <a href="themes/images/Laptop/Asus.jpg"> <img style="width:29%" src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                   <a href="themes/images/Laptop/Asus.jpg"> <img style="width:29%" src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                  </div>
                </div>
              <!--  
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> 
			  -->
              </div>
			  
			 <div class="btn-toolbar">
			  <div class="btn-group">
				<span class="btn"><i class="icon-envelope"></i></span>
				<span class="btn" ><i class="icon-print"></i></span>
				<span class="btn" ><i class="icon-zoom-in"></i></span>
				<span class="btn" ><i class="icon-star"></i></span>
				<span class="btn" ><i class=" icon-thumbs-up"></i></span>
				<span class="btn" ><i class="icon-thumbs-down"></i></span>
			  </div>
			</div>
			</div>
			<div class="span6">
				<h3>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T) </h3>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label"><span>38.990.000</span></label>
					<div class="controls">
					<input type="number" class="span1" placeholder="Qty."/>
					  <button type="submit" class="btn btn-large btn-primary pull-right"> Thêm vào giỏ <i class=" icon-shopping-cart"></i></button>
					</div>
				  </div>
				</form>
				
				<hr class="soft"/>
				<h4>100 sản phẩm trong kho</h4>
				<form class="form-horizontal qtyFrm pull-right">
				  <div class="control-group">
					<label class="control-label"><span>Màu</span></label>
					<div class="controls">
					  <select class="span2">
						  <option>Đen</option>
						  <option>Đỏ</option>
						  <option>Xanh</option>
						  <option>Vàng</option>
						</select>
					</div>
				  </div>
				</form>
				<hr class="soft clr"/>
				<p>
				Laptop Asus ROG G531 có cấu hình khủng cùng thiết kế độc đáo khi máy được trang bị hệ thống đèn LED chuyển màu liên tục ở bàn phím và dọc thân máy. Thêm vào đó, màn hình có tần số quét hình ảnh 120 Hz chỉ trong 3 ms cho chuyển động mượt mà kết hợp cùng hệ thống tản nhiệt tốt đảm bảo không làm gián đoạn việc chơi game.
				
				</p>
				<a class="btn btn-small pull-right" href="#detail">Thông tin chi tiết</a>
				<br class="clr"/>
			<a href="#" name="detail"></a>
			<hr class="soft"/>
			</div>
			
			<div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Chi tiết sản phẩm</a></li>
              <li><a href="#profile" data-toggle="tab">Sản phẩm gần đây</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
			  <h4>Asus Gaming ROG   </h4>
                <table class="table table-bordered">
				<tbody>
				<tr class="techSpecRow"><th colspan="2">Cấu hình</th></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">CPU: </td><td class="techSpecTD2">Intel Core i7 Coffee Lake, 9750H, 2.60 GHz</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">RAM: </td><td class="techSpecTD2">8 GB, DDR4 (2 khe), 2666 MHz/td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Ổ cứng:</td><td class="techSpecTD2"> Hỗ trợ khe căm HDD SATA, SSD: 512 GB, M.2 PCIe</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Màn hình: </td><td class="techSpecTD2"> 15.6 inch, Full HD (1920 x 1080)</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Card màn hình:</td><td class="techSpecTD2">Card đồ họa rời, NVIDIA® GeForce RTX™ 2060</td></tr>
                <tr class="techSpecRow"><td class="techSpecTD1">Cổng kết nối:</td><td class="techSpecTD2">HDMI 2.0, 3 x USB 3.1, LAN (RJ45), USB Type-C</td></tr>
                <tr class="techSpecRow"><td class="techSpecTD1">Hệ điều hành: </td><td class="techSpecTD2">Windows 10 Home SL</td></tr>
                <tr class="techSpecRow"><td class="techSpecTD1">Thiết kế: </td><td class="techSpecTD2">Vỏ kim loại, PIN liền</td></tr>
                <tr class="techSpecRow"><td class="techSpecTD1">Kích thước: </td><td class="techSpecTD2">Dày 26 mm, 2.4 kg</td></tr>
				</tbody>
				</table>
				
				<h1>Thiết kế hầm hố đậm chất gaming</h1>
				<p>
				Chất liệu kim loại bao phủ toàn bộ bề mặt Asus ROG mang lại vẻ cứng cáp, độ bền cao, với trọng lượng 2.4 kg cùng độ dày 26 mm, laptop vẫn khá nhẹ nhàng để mang theo bên mình.</br>

                Thiết kế gaming nổi bật của laptop Asus ROG G531</br>
                <img src="themes/images/Laptop/Asus/Thietke.jpg"> </br>

                Đi liền với thân máy là dải đèn LED chuyển màu liên tục tạo nét nổi bật cuốn hút người nhìn. Để kích hoạt chỉ cần nhấn tổ hợp phím Fn + F10.</br>
				</p>
                <img src="themes/images/Laptop/Asus/Thietke1.jpg"> </br>

				<h1>Cấu hình mạnh - chiến mượt mọi tựa game </h1>
				<p>
				Mạnh mẽ trong cấu hình khi máy sở hữu con chip Core i7, RAM 8 GB, card đồ hoạ rời NVIDIA® GeForce RTX™ 2060 6 GB chiến được mọi tựa game nặng với mức cài đặt chất lượng cao.</br>
                <img src="themes/images/Laptop/Asus/Cauhinh1.jpg"> </br>
                Cấu hình máy mạnh mẽ của laptop Asus ROG G531</br>
                <img src="themes/images/Laptop/Asus/cauhinh2.gif"> </br>
                Máy tính khi chơi game Liên Minh Huyền Thoại ở đồ họa mức cao nhất thì tốc độ phản hồi nhanh và chất lượng hình ảnh tốt và FPS luôn đạt trên mức 85.</br>
				</p>

				<h1>Màn hình viền mỏng Full HD</h1>
				<p>
				Viền màn hình mỏng giúp việc chơi game hay làm việc được tập trung hơn, không bị phiền nhiễu từ 4 phía. </br>
                <img src="themes/images/Laptop/Asus/Manhinh1.jpg"> </br>
                laptop Asus ROG G531 có viền máy siêu mỏng</br>
                <img src="themes/images/Laptop/Asus/Manhinh2.jpg"> </br>
                Màn hình kích thước 15.6 inch vừa đủ để tác chiến game cũng như làm việc. Chất lượng hình ảnh Full HD kết hợp cùng tấm nền IPS và tính năng chống chói cho hình ảnh được sắc nét, sống động, độ tương phản cao.</br>
                <img src="themes/images/Laptop/Asus/Manhinh3.jpg"> </br>
                Hình ảnh sắc nét trên laptop Asus ROG G531</br>

                Màn hình Asus có tần số quét hình ảnh 120 Hz phản hồi cực nhanh trong 3 ms, từng chuyển động của nhân vật trong game được tái hiện một cách đầy chân thực.</br>
				</p>
				<h1>Khởi động cực nhanh</h5>
				<p>
				Ổ cứng SSD cho tốc độ xử lí dữ liệu cũng như khởi động máy nhanh chóng. Dung lượng 512 GB là quá đủ để có thể lưu trữ kho game của bạn. Tuy nhiên bạn vẫn có thể nâng cấp để tăng không gian nhờ khe cắm HDD SATA.
				<img src="themes/images/Laptop/Asus/Khoidong1.jpg"> </br>
                </p>

				<h1>Tản nhiệt tối ưu</h1>
				<p>
				Laptop gaming được trang bị quạt tản nhiệt kép n-Blade 83 cánh quạt giúp tăng luồng khí cùng cơ chế đẩy bụi ra ngoài cho máy luôn trong trạng thái ổn định nhất. Tác vụ quản lí trở nên dễ dàng hơn nhờ phần mềm ROG Armoury Crate có thể cài đặt được quạt tản nhiệt, theo dõi nhiệt độ máy, thông số CPU, GPU,…
				<img src="themes/images/Laptop/Asus/Tannhiet1.jpg"> </br>
                </p>
                <h1>Âm thanh to rõ, sống động</h1>
				<p>
				Loa được bố trí thông minh cho khả năng khuếch đại tốt, chất lượng âm thanh trong trẻo, to, rõ hơn nhờ công nghệ Smart AMPart AMP, cho bạn nghe được từng cử động của nhân vật.
				</p>
                 <h1>Bàn phím đổi màu hầm hố</h1>
				<p>
				Đèn bàn phím đổi màu RBG chiến game bất chấp điều kiện ánh sáng, phím WASD nổi bật cho thao tác nhanh hơn.
                <img src="themes/images/Laptop/Asus/Banphim1.jpg"> </br>
				</p>
                <h1>Cổng kết nối đầy đủ</h1>
				<p>
				Tích hợp nhiều cổng kết nối trên máy như USB Type-C có khả năng thay thế cho các kết nối bao gồm VGA, USB, DisplayPort, cổng sạc,…; HDMI 2.0 xuất hình ảnh ra màn hình lớn để xem phim, chơi game với chất lượng mức hình ảnh 4K UHD,…
				<img src="themes/images/Laptop/Asus/Cong1.jpg"> </br>
                </p>
              </div>
		<div class="tab-pane fade" id="profile">
		<div id="myTab" class="pull-right">
		 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
		 <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
		</div>
		<br class="clr"/>
		<hr class="soft"/>
		<div class="tab-content">
			<div class="tab-pane" id="listView">
				<div class="row">	  
					<div class="span2">
						<img src="themes/images/products/4.jpg" alt=""/>
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft"/>
						<h5>Product Name </h5>
						<p>
						Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
						that is why our goods are so popular..
						</p>
						<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
						<br class="clr"/>
					</div>
					<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $222.00</h3>
					<label class="checkbox">
						<input type="checkbox">  Adds product to compair
					</label><br/>
					<div class="btn-group">
					  <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
					  <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
					 </div>
						</form>
					</div>
			</div>
			<hr class="soft"/>
			<div class="row">	  
					<div class="span2">
						<img src="themes/images/products/5.jpg" alt=""/>
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft"/>
						<h5>Product Name </h5>
						<p>
						Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
						that is why our goods are so popular..
						</p>
						<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
						<br class="clr"/>
					</div>
					<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox">  Adds product to compair
						</label><br/>
						<div class="btn-group">
						<a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
					</form>
					</div>
			</div>
			<hr class="soft"/>
			<div class="row">	  
					<div class="span2">
					<img src="themes/images/products/6.jpg" alt=""/>
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft"/>
						<h5>Product Name </h5>
						<p>
						Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
						that is why our goods are so popular..
						</p>
						<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
						<br class="clr"/>
					</div>
					<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $222.00</h3>
					<label class="checkbox">
						<input type="checkbox">  Adds product to compair
					</label><br/>
				<div class="btn-group">
				  <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
				  <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				 </div>
						</form>
					</div>
			</div>
			<hr class="soft"/>
			<div class="row">	  
					<div class="span2">
					<img src="themes/images/products/7.jpg" alt=""/>
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft"/>
						<h5>Product Name </h5>
						<p>
						Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
						that is why our goods are so popular..
						</p>
						<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
						<br class="clr"/>
					</div>
					<div class="span3 alignR">
						<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox">  Adds product to compair
						</label><br/>
						<div class="btn-group">
						<a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
						</form>
					</div>
			</div>
			
			<hr class="soft"/>
			<div class="row">	  
					<div class="span2">
					<img src="themes/images/products/8.jpg" alt=""/>
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft"/>
						<h5>Product Name </h5>
						<p>
						Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
						that is why our goods are so popular..
						</p>
						<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
						<br class="clr"/>
					</div>
					<div class="span3 alignR">
						<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox">  Adds product to compair
						</label><br/>
						<div class="btn-group">
						<a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
						</form>
					</div>
			</div>
			<hr class="soft"/>
				<div class="row">	  
					<div class="span2">
					<img src="themes/images/products/9.jpg" alt=""/>
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft"/>
						<h5>Product Name </h5>
						<p>
						Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
						that is why our goods are so popular..
						</p>
						<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
						<br class="clr"/>
					</div>
					<div class="span3 alignR">
						<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox">  Adds product to compair
						</label><br/>
						<div class="btn-group">
						<a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
						</form>
					</div>
			</div>
			<hr class="soft"/>
		</div>
			<div class="tab-pane active" id="blockView">
				<ul class="thumbnails">
					<li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T)</h5>
                                <h4 style="text-align:center"> <a class="btn" href="#">Thêm vào giỏ<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">38.990.000₫</a></h4>
                            </div>
                        </div>
                    </li>
					<li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T)</h5>
                                <h4 style="text-align:center"> <a class="btn" href="#">Thêm vào giỏ<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">38.990.000₫</a></h4>
                            </div>
                        </div>
                    </li>
					<li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T)</h5>
                                <h4 style="text-align:center"> <a class="btn" href="#">Thêm vào giỏ<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">38.990.000₫</a></h4>
                            </div>
                        </div>
                    </li>
					<li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T)</h5>
                                <h4 style="text-align:center"> <a class="btn" href="#">Thêm vào giỏ<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">38.990.000₫</a></h4>
                            </div>
                        </div>
                    </li>
					<li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T)</h5>
                                <h4 style="text-align:center"> <a class="btn" href="#">Thêm vào giỏ<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">38.990.000₫</a></h4>
                            </div>
                        </div>
                    </li>
					<li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/Laptop/Asus.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Asus Gaming ROG Strix G531 i7 9750H/8GB/512GB/6GB RTX2060/Win10 (VAL218T)</h5>
                                <h4 style="text-align:center"> <a class="btn" href="#">Thêm vào giỏ<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">38.990.000₫</a></h4>
                            </div>
                        </div>
                    </li>
				  </ul>
			<hr class="soft"/>
			</div>
		</div>
				<br class="clr">
					 </div>
		</div>
          </div>

	</div>
</div>
</div> </div>
</div>